
body{
    &>img{display: none;}
}

.visible-md{display: none;}

/* conect wrap */

    .conect-wrap{text-align: center;position: relative;
        &:after{content: '';display: block;position: absolute;bottom:0;width: 136px;height:1px;background-color:rgba(255, 255, 255, .26);left: calc(50% - 68px);}
        .conect-icon{display: inline-block;width: 76px;height: 76px;border:3px solid #fff;border-radius: 50%;position: relative;vertical-align: top;transition:border-color 300ms ease;
            &:after{content: '';position: absolute;z-index: 0;width: calc(100% + 3px);height: calc(100% + 3px);left:calc(50% - 37px);top:calc(50% - 37px);background-color:#fff;border-radius:50%;transform:scale(0);transition:background-color 300ms ease, transform 300ms ease;}
            img{position: absolute;top: 50%;left:50%;z-index: 1;}
            &:hover{border-color: #9c2c2c;
                &:after{transform:scale(1);background-color:#9c2c2c;}
            }
            &:nth-child(1){
                img{margin:-21px 0 0 -24px;}
            }
            &:nth-child(2){margin:0 20%;
                img{margin:-21px 0 0 -21px;}
            }
            &:nth-child(3){
                img{margin:-16px 0 0 -22px;}
            }
        }
    }

/* /conect wrap */

/* header */

    .header{color:#fff;position: relative;z-index: 10;position: absolute;top: 0;left:0;right: 0;
        .mbox{padding-top: 5px;padding-bottom: 5px;max-width: none;}
        a{text-decoration: none;color:#fff;}
        .header-main{padding: 0 60px 0 30px;}
        .header-logo{float: left;position: relative;z-index: 1;padding-top: 15px;}
        .header-menu{float: right;padding-top: 10px;}

        .header-menu-wrap{z-index: 0;}
        .header-menu-main{display: inline-block;vertical-align: middle;min-height: 77px;border-right: 1px solid rgba(255, 255, 255, .2);padding-top: 28px;text-transform: uppercase;font-size: 18px;font-weight: 500;
            li{display: inline-block;margin-right: 47px;
                a{transition:color 300ms ease;
                    &:hover{color:#9c2c2c;}
                }
            }
        }

        .header-menu-conect{display: none;padding-bottom: 33px;margin-bottom: 15px;}

        .header-leng-wrap{display: inline-block;vertical-align: middle;margin-left: 10px;}
        .header-leng-text{display: inline-block;vertical-align: middle;min-width: 110px;text-align: center;font-weight: 500;font-size: 18px;margin-right: 5px;}
        .header-leng-links{display: inline-block;vertical-align: middle;position: relative;top:-15px;}
        .header-leng-link{position: relative;z-index: 0;display: table;margin-left:62px;height: 100px;width: 62px;text-align:center;background-color: #282a2a;z-index:0;color:rgba(255,255,255, .2);transition:color 300ms ease;
            &:after{content:'';position:absolute;left:0;top:0;right:0;bottom:100%;background-color: orange;z-index: 0;transition:bottom 300ms ease;}
            span{display: table-cell;vertical-align: middle;padding-top: 29px;font-size: 18px;font-weight: 500;position: relative;z-index: 1;}
            img{max-width: 45px;
                &.active-leng{display: none;}
            }
            &.active{position: absolute;z-index: 1;left:0;top:0;margin-left: 0;background: #9c2c2c;z-index:1;color:rgba(255,255,255,1);background: -moz-linear-gradient(left, #9c2c2c 0%, #6f1f1f 100%);background: -webkit-linear-gradient(left, #9c2c2c 0%,#6f1f1f 100%);background: linear-gradient(to right, #9c2c2c 0%,#6f1f1f 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c2c2c', endColorstr='#6f1f1f',GradientType=1 );
                &:before{content: '';display: block;position: absolute;top: 0;bottom: 0;left: 100%;width: 30px;background-image:url(../images/leng-shadow.png);background-repeat: repeat-y;pointer-events:none;}
                img{display: none;max-width: 45px;
                    &.active-leng{display: block;}
                }
            }
            &:hover{border-color: #9c2c2c;color:rgba(255,255,255,1);
                &:not(.active):after{bottom:0px;}
            }
        }

        .header-menu-sendwich{display: none;position: absolute;right: 40px;top: 40px;}
        .header-menu-sendwich-wrap{display: inline-block;padding: 16px 0;width: 53px;position: relative;cursor: pointer;transition:all 300ms ease;
            &:before, &:after{content: '';display: block;position: absolute;width: 53px;height: 6px;background-color: #fff;right:0;transform-origin:0 50%;transition:all 300ms ease;}
            &:before{content:'';display: block;position: absolute;top: 0;}
            &:after{bottom:0;}
            span{display: block;width: 100%;height: 6px;background:#fff;opacity:1;transition:all 300ms ease;}
            &.active{
                &:before, &:after{left: 2px;}
                &:before{transform:rotate(45deg);top:-2px;}
                &:after{transform:rotate(-45deg);bottom:-2px;}
                span{opacity: 0;}
            }
            &:hover{
                &:before, &:after, span{background-color:#9c2c2c;}
            }
        }

    }

/* /header */

/* footer */

    .footer{background-color: #161616;padding: 35px 0 35px 0;text-align: center;
        .footer-conect{display: none;
            &.conect-wrap{
                .conect-icon{
                    &:hover{border-color:#4e1112;
                        &:after{background-color:#4e1112;}
                    }
                }
            }
        }
        .footer-text{font-size: 14px;text-transform:uppercase;color:#6f6f6f;font-weight: 500;}
    }

/* /footer */

/* top-block */

    .top-block{padding: 150px 0 220px 0;background-image:url(../images/top-block-bg.jpg);background-position: center top;background-repeat: no-repeat;text-align: center;background-color: #002142;
        .top-block-logo, .top-block-text, .top-block-scroll-button{display: none;}

        .top-block-canvas{position: relative;z-index: 0;
            canvas{max-width: 100%;width:auto;}
        }

        .wach-video-button{margin-top: -80px;position: relative;z-index: 1;
            a{display: inline-block;width: 225px;height: 65px;line-height: 65px;font-size: 18px;text-transform: uppercase;font-weight: 500;color:#fff;border:1px solid #fff;border-radius: 3px;text-decoration: none;position: relative;transition:border-color 300ms ease;
                &:before{content: '';display: block;position: absolute;z-index:0;right: 100%;top: 0;bottom: 0;left: -1px;background-color: #fff;transition:right 300ms ease, background-color 300ms ease;}
                &:hover{border-color:#9c2c2c;
                    &:before{right:-1px;background-color: #9c2c2c;}
                }
                span{position: relative;z-index: 1;}
            }
        }

        .top-block-text{margin-bottom: 60px;}
        .top-block-scroll-button{text-align: center;
            a{width: 131px;height: 131px;display:inline-block;border-radius: 50%;border:4px solid #fff;position:relative;transition:border-color 300ms ease;
                .top-block-scroll-button-arrow{position: absolute;left: 50%;animation-name:arrowAnim;animation-duration:.3s;animation-iteration-count: infinite;animation-direction: alternate;animation-timing-function: linear;animation-play-state:running;
                    &:before, &:after{content: '';position: absolute;width: 27px;height: 5px;background-color: #fff;top:0;transition:background-color 300ms ease;}
                    &:before{transform-origin:100% 50%;left:calc(100% - 11px);transform:rotate(-50deg);}
                    &:after{transform-origin:0 50%;right:calc(100% - 11px);transform:rotate(50deg);}
                    &.top-block-scroll-button-arrow-top{top: calc(50% - 15px);}
                    &.top-block-scroll-button-arrow-bottom{top: calc(50% + 0px);}
                }
                &:hover{border-color:orange;
                    .top-block-scroll-button-arrow{animation-play-state: paused;border-color:orange;
                        &:before, &:after{background-color: orange;}
                    }
                }
            }
        }

    }

/* /top-block */

/* steampank-lady */

    .steampank-lady{background-color:#0e0e0e;overflow:hidden;}

    .desktop-girl{display: block;}
    .mobile-girl{display: none;}

    .steampank-lady-img{position: relative;z-index: 1;}

    .svg-defs-for-steampunk{
        #cliping, #clipingMobile{
            text{font-family: 'ag futura', sans-serif;font-size: 40px;text-transform: uppercase;letter-spacing: -1.5px;
                .bigger-text{font-size: 85px;font-weight: 700;letter-spacing: -5px;}
            }
        }
        #clipingMobile{
            text{font-size: 35px;
                .bigger-text{font-size: 60px;letter-spacing: -4px;}
            }
        }
    }

    .steampank-lady-text{position: absolute;right: 0;top:220px;z-index:0;left: 35%;text-align: right;
        svg{max-width: 100%;}
        .mask-for-cliping{
            text{font-family: 'ag futura', sans-serif;font-size: 40px;text-transform: uppercase;letter-spacing: -1.5px;fill:none;
                .bigger-text{font-size: 90px;font-weight: 700;letter-spacing: -9px;}
                .letter-shadow{stroke-width:1px;stroke:#000;text-shadow: 0 0 10px #000;}
            }
        }
        /*rect{fill:url(#gradient);}*/
    }

    .mobile-girl{
        .steampank-lady-text{
            .mask-for-cliping{
                text{font-size: 35px;
                    .bigger-text{font-size: 60px;letter-spacing: -6px;}
                }
            }
            /*rect{fill:url(#gradientMobile);}*/
        }
    }

    .eng{
        .svg-defs-for-steampunk{
            #cliping{
                text{font-size: 35px;
                    .bigger-text{font-size: 78px;}
                }
            }
        }
        .steampank-lady-text{right: 10px;
            .mask-for-cliping{
                text{font-size: 35px;
                    .bigger-text{font-size: 78px;}
                }
            }
        }
        .svg-defs-for-steampunk{
            #clipingMobile{
                text{font-size: 55px;
                    .bigger-text{font-size: 60px;letter-spacing:-5px;}
                    .more-bigger-text{font-size: 75px;font-weight: 700;letter-spacing: -5px;}
                }
            }
        }
        .mobile-girl{
            .steampank-lady-text{
                .mask-for-cliping{
                    text{font-size: 55px;
                        .bigger-text{font-size: 60px;}
                        .more-bigger-text{font-size: 75px;font-weight: 700;letter-spacing: -9px;}
                    }
                }
            }
        }
    }

/* /steampank-lady */

/* animations */

    @keyframes arrowAnim{
        0% {
            margin-top: 0px;
        }
        100% {
            margin-top: 5px;
        }
    }

/* /animations */