/*wrapper eng*/
.wrapper.eng {
    .contact-form .contact-form-title {letter-spacing: 2px;}
    .clients .clients-title{letter-spacing: 2px;line-height: 104px;bottom: -131px;
        &:after{width: 101%;top: 50px;left: -3px;height: 2px;}
    }
}

/*pop succes*/
.call-popup .fancybox-skin{background-color: #161616;}
.call-success,.call-success-en{text-align: center;color: white;padding: 35px 20px;
    .call-title,.call-title-en{font-size: 35px;margin-bottom: 20px;}
    .call-subtitle,.call-subtitle-en{font-size: 30px;margin-bottom: 10px;}
}

/*contact-form*/
.contact-form{background-image: -moz-linear-gradient(180deg, #811919 0%, #B62828 50%, #811919 100%);background-image: -webkit-linear-gradient(180deg, #811919 0%, #B62828 50%, #811919 100%);background-image: -ms-linear-gradient(180deg, #811919 0%, #B62828 50%, #811919 100%);position: relative;text-align: center;margin-top: -145px;
    .mbox{}
    .contact-form-image{position: absolute;bottom: 20px;
        &.right{right: 10px;}
        &.left{left: 10px;}
    }
    .contact-form-wrap{padding-top: 197px;padding-bottom: 100px;}
    .contact-form-title{font-size: 60px;font-family: 'BebasNeue';line-height: 60px;
        .contact-form-title-top{color: #611919;text-transform: uppercase;}
        .contact-form-title-bottom{color: white;text-transform: uppercase;}
    }
    .contact-form-bottom{margin:0 auto;max-width: 605px;width: 100%;padding-top: 64px;
        .form_input{position: relative;}
        .contact-form-item{margin-bottom: 34px;
            &:nth-child(3){margin-bottom: 54px;}
        }
        .form_row.error{
            input,textarea{border-color: red;}
        }
        label{color: white;text-transform: uppercase;font-size: 16px;font-weight: normal;position: absolute;transition:all linear .3s;pointer-events:none;top: 0;
            &.active{font-size: 12px;top: -12px;}
            &.errorText{bottom:-17px;left: 50%;transform: translateX(-50%);top: auto;color: red;font-size: 14px;}
        }
        input,textarea{width: 100%;border:none;border-bottom: 1px solid #872526;padding: 5px 0px;background-color: transparent;resize:none;font-size: 14px;max-height: 28px;overflow: hidden;}
    }
    .contact-submit{max-width: 185px;width: 100%;background-color: #9D2021;border-radius: 3px;font-size: 18px;text-transform: uppercase;border:1px solid transparent;border-bottom: 1px solid #741e1f;padding: 14px 0px;color: white;cursor: pointer;transition:all ease-out .3s;margin:0 auto;background-image: url(../images/contact-submit-bg.png);background-repeat: no-repeat;background-position: center center;
        &:hover{background-color:#962224;}
        &:active{border-bottom: 1px solid transparent;border-top:1px solid #581A1B;background-color: #6D2122;
            span{position: relative;top: 2px;}
        }
    }
    .contact-form-bottoms{max-width: 770px;margin:0 auto;padding-top: 27px;
        .contact-form-item-img-mobile{display: none;}
        .contact-form-it{text-align: center;float: left;width: 33.33%;
            &:hover{
                .contact-form-item-img{filter: blur(1px);filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');}
                .contact-form-item-title{text-shadow:0px 0px 2px #fff;}
            }
        }
        a{text-decoration: none;display: inline-block;font-size: 18px;color: white;}
        .contact-form-item-img{width: 100%;display: inline-block;min-height: 78px;padding-bottom: 27px;transition: .3s -webkit-filter ease-out;transition: .3s -moz-filter ease-out;
            transition: .3s filter ease-out;transition: .3s all ease-out;}
        .contact-form-item-title{transition: .3s all ease-out;padding: 0 10px;word-break: break-word;}
    }
}

/*clients*/
.clients{min-height: 700px;overflow: hidden;margin-bottom: -197px;background-image: -moz-linear-gradient(180deg, #811919 0%, #B62828 50%, #811919 100%);background-image: -webkit-linear-gradient(180deg, #811919 0%, #B62828 50%, #811919 100%);background-image: -ms-linear-gradient(180deg, #811919 0%, #B62828 50%, #811919 100%);
    .clients-red{min-height: 438px;background-image: -webkit-linear-gradient(180deg, #811919 0%, #b62828 50%, #811919 100%);background-image: -moz-linear-gradient(180deg, #811919 0%, #B62828 50%, #811919 100%);position: relative;
        &:after{content: '';width: 100%;height: 113%;background-image: url(../images/clients-top.png);background-position: center bottom;position: absolute;bottom: -120px;right: -44px;background-repeat: no-repeat;z-index: 2;}
    }
    .clients-grey{min-height: 562px;background-image: url('../images/clients-grey.jpg');margin-right: 1px;position: relative;background-position: center center;background-repeat: no-repeat;background-color: #0D0D0D;
        &:after{content: '';position: absolute;height: 100%;width: 1px;background-color: #161616;right: -1px;top: 0;}
    }
    .clients-center{background-image: -webkit-linear-gradient(180deg, #811919 0%, #b62828 50%, #811919 100%);background-image: -moz-linear-gradient(180deg, #811919 0%, #B62828 50%, #811919 100%);position: relative;z-index: 0;
        .clients-center-top{}
        .clients-center-bottom{background: url('../images/clients-center-bottom.png') center bottom no-repeat;min-height: 149px;margin-right: -21px;}
    }
    .clients-title{font-size: 74px;text-transform: uppercase;color: white;position: absolute;font-family: 'BebasNeue';font-weight: bold;left: 50%;transform: translate(-50%,0) rotate(-4.4deg);bottom: -126px;z-index: 3;line-height: 89px;
        &:after{content: '';position: absolute;width: 100%;top: 40px;left: 0;height: 2px;    background-color: rgba(22, 22, 22, 0.75);pointer-events:none;}
    }
    .clients-row-superwrap{padding: 70px 0px 0px;max-width: 914px;margin: 0 auto;}
    .clients-row{display: table;width: 100%;padding-bottom: 34px;
        .clients-item{width: 33.33%;display: table-cell;vertical-align: middle;text-align: center;filter: grayscale(1) brightness(0.8) drop-shadow(0px 0px 18px rgba(0,0,0,1));transition: .3s filter ease-out;-webkit-transition: .3s -webkit-filter ease-out;-moz-transition: .3s -moz-filter ease-out;-ms-transition: .3s -ms-filter ease-out;-o-transition: .3s -o-filter ease-out;
            &:hover{filter: grayscale(0) brightness(1) drop-shadow(0px 0px 0px rgba(0,0,0,0));}
        }
        a{display: inline-block;}
    }
}