<section id="about-us">
    <div class="conteiner-about">
        <div class="seciton-convert">
            <div class="title-about">о нас</div>
            <div class="about-wrap">
                <div class="mbox-support">
                    <div class="subtitle">МЫ создаем  <span> КАЧЕСТВЕННЫЙ</span> <br/> РЕКЛАМНЫЙ  <span>ДИЗАЙН</span> </div>
                    <div class="content-bock">
                        <div class="item scroll-anim">
                            <div class="canvas-block oneHeight2">
                                <canvas id="clock" width="318" height="345" ></canvas>
                            </div>
                            <div class="subtext">
                                <img src="images/stroki.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="canvas-block oneHeight2">
                                <canvas id="guaranteed" width="428" height="341" ></canvas>
                            </div>
                            <div class="subtext">
                                <img src="images/kachestvo.png" alt="">
                            </div>
                        </div>
                        <div class="item scroll-anim">
                            <div class="canvas-block oneHeight2">
                                <canvas id="guaranteed" width="428" height="341" ></canvas>
                            </div>
                            <div class="subtext">
                                <img src="images/ceny.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
