<section id="about-us">
    <div class="conteiner-about">
        <div class="seciton-convert">
            <div class="title-about title-about-en">ABOUT US</div>
            <div class="about-wrap">
                <div class="mbox-support">
                    <div class="subtitle">We specialize in  <span>high-quality</span> <br/> advertising <span>DESIGN</span> </div>
                    <div class="content-bock">
                        <div class="item scroll-anim">
                            <div class="canvas-block oneHeight2">
                                <canvas id="clock" width="318" height="345" ></canvas>
                            </div>
                            <div class="subtext">
                                <img src="images/stroki_en.png" alt="">
                            </div>
                        </div>
                        <div class="item scroll-anim">
                            <div class="canvas-block oneHeight2">
                                <canvas id="guaranteed" width="428" height="341" ></canvas>
                            </div>
                            <div class="subtext">
                                <img src="images/kachestvo_en.png" alt="">
                            </div>
                        </div>
                        <div class="item scroll-anim">
                            <div class="canvas-block oneHeight2">
                                <canvas id="cards" width="362" height="238"></canvas>
                            </div>
                            <div class="subtext">
                               <img src="images/ceny_en.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
