<section class="clients" >
    <div class="clients-red">
        <div id="clients" class="clients-title">
            <h2>Наши Клиенты</h2>
        </div>
    </div>
    <div class="clients-center">
        <div class="clients-center-top"></div>
        <div class="clients-center-bottom"></div>
    </div>
    <div class="clients-grey">
        <div class="clients-row-wrap">
            <div class="mbox">
                <div class="clients-row-superwrap">
                    <div class="clients-row cfix scroll-anim">
                        <div class="clients-item">
                            <a href="#">
                                <img src="images/clients-item-1.png" alt="">
                            </a>
                        </div>
                        <div class="clients-item ">
                            <a href="#">
                                <img src="images/clients-item-2.png" alt="">
                            </a>
                        </div>
                        <div class="clients-item ">
                            <a href="#">
                                <img src="images/clients-item-3.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="clients-row cfix scroll-anim">
                        <div class="clients-item ">
                            <a href="#">
                                <img src="images/clients-item-4.png" alt="">
                            </a>
                        </div>
                        <div class="clients-item ">
                            <a href="#">
                                <img src="images/clients-item-5.png" alt="">
                            </a>
                        </div>
                        <div class="clients-item ">
                            <a href="#">
                                <img src="images/clients-item-6.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="clients-row cfix scroll-anim">
                        <div class="clients-item">
                            <a href="#">
                                <img src="images/clients-item-7.png" alt="">
                            </a>
                        </div>
                        <div class="clients-item">
                            <a href="#">
                                <img src="images/clients-item-8.png" alt="">
                            </a>
                        </div>
                        <div class="clients-item">
                            <a href="#">
                                <img src="images/clients-item-9.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>