<section class="contact-form">
    <div class="contact-form-image left scroll-anim">
        <img src="images/contact-form-image-left.png" alt="">
    </div>
    <div class="contact-form-image right scroll-anim">
        <img src="images/contact-form-image-right.png" alt="">
    </div>
    <div class="mbox">
        <div class="contact-form-wrap">
            <div id="contact-form" class="contact-form-title">
                <div  class="contact-form-title-top scroll-anim"><h2>СВЯЖИТЕСЬ С НАМИ</h2></div>
                <div class="contact-form-title-bottom scroll-anim">ПРЯМО СЕЙЧАС</div>
            </div>
            <form  class="contact-form-bottom">
                <div class="contact-form-row cfix">
                    <div class="contact-form-item scroll-anim">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <label for="contact_name">Имя</label>
                                <input type="text" name="contact_name" id="contact_name" class="contact_name" required="required" value="" >
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item scroll-anim">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <label for="contact_email">E-mail</label>
                                <input type="email" name="contact_email" value="" id="contact_email" required="required" class="">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item scroll-anim">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <label for="contact_textarea">Сообщение</label>
                                <textarea name="contact_textarea" id="contact_textarea" cols="30" rows="1" required="required"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item scroll-anim">
                        <button type="submit" class="contact-submit">
                            <span>отправить</span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="contact-form-bottoms cfix">
                <div class="contact-form-it item-1 scroll-anim">
                    <a href="mailto:gambling.dsgn@gmail.com">
                        <span class="contact-form-item-img">
                            <img src="images/contact-form-item-img-1.png" alt="">
                        </span>
                        <span class="contact-form-item-title">gambling.dsgn@gmail.com</span>
                    </a>
                </div>
                <div class="contact-form-it item-2 scroll-anim">
                    <a href="tel:gambling.dsgn">
                        <span class="contact-form-item-img">
                            <img src="images/contact-form-item-img-2.png" alt="">
                        </span>
                        <span class="contact-form-item-title">gambling.design</span>
                    </a>
                </div>
                <div class="contact-form-it item-3 scroll-anim">
                    <a href="#" onclick="return false;">
                        <span class="contact-form-item-img">
                            <img src="images/123.png" alt="">
                        </span>
                        <span class="contact-form-item-title">no signal</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>