            <!-- FOOTER -->
            <footer class="footer">
                <div class="mbox">

                    <div class="footer-conect conect-wrap">
                        <a href="tellto:+9999999999" class="conect-icon">
                            <img src="images/conect-icon-skype.png" alt="" />
                        </a>
                        <a href="skype:+9999999999?skype" class="conect-icon">
                            <img src="images/conect-icon-telefone.png" alt="" />
                        </a>
                        <a href="mailto:mail@mail.ru" class="conect-icon">
                            <img src="images/conect-icon-mail.png" alt="" />
                        </a>
                    </div>

                    <div class="footer-text">
                        <span>©gambling.design</span>
                    </div>

                </div>
            </footer>
            <!-- FOOTER -->

        </div>

        <!-- SCRIPTS -->
        <script>
            var ajaxUrl = 'ajax.php';
            var properties_loc  = {
                fps: 35,
                color: "#BB0000",
                manifest: [
                    {src:"images/chips.png", id:"chips"},
                    {src:"images/title.png", id:"title"},
                    {src:"images/img1.png", id:"img1"},
                    {src:"images/img2.png", id:"img2"},
                    {src:"images/img3.png", id:"img3"},
                    {src:"images/img4.png", id:"img4"},
                    {src:"images/button.png", id:"button"},
                    {src:"images/comp_bottom.png", id:"comp_bottom"},
                    {src:"images/finger.png", id:"finger"},
                    {src:"images/lines.png", id:"lines"},
                    {src:"images/lines2.png", id:"lines2"},
                    {src:"images/screen.png", id:"screen"},
                    {src:"images/slot.png", id:"slot"},
                    {src:"images/square.png", id:"square"},
                    {src:"images/square2.png", id:"square2"},
                    {src:"images/card2C.png", id:"card2C"},
                    {src:"images/lightsC.png", id:"lightsC"},
                    {src:"images/buttonT.png", id:"buttonT"},
                    {src:"images/plateT.png", id:"plateT"},
                    {src:"images/crownG.png", id:"crownG"},
                    {src:"images/squareG.png", id:"squareG"},
                    {src:"images/header_raw_en.png", id:"header_raw_en"},
                    {src:"images/letter_A_en.png", id:"letter_A_en"},
                    {src:"images/letter_b_en.png", id:"letter_b_en"},
                    {src:"images/letter_g_en.png", id:"letter_g_en"},
                    {src:"images/letter_gg_en.png", id:"letter_gg_en"},
                    {src:"images/letter_i_en.png", id:"letter_i_en"},
                    {src:"images/letter_l_en.png", id:"letter_l_en"},
                    {src:"images/letter_m_en.png", id:"letter_m_en"},
                    {src:"images/letter_n_en.png", id:"letter_n_en"},
                    {src:"images/promotion_en.png", id:"promotion_en"},
                    {src:"images/we_create_en.png", id:"we_create_en"}
                ]
            };
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


        <script type="text/javascript" src="js/validate_script.js" ></script>
        <script type="text/javascript" src="js/main.js" ></script>
        <!-- /SCRIPTS -->
    </body>
</html>