            <!-- FOOTER -->
            <footer class="footer">
                <div class="mbox">

                    <div class="footer-conect conect-wrap">
                        <a href="tellto:+9999999999" class="conect-icon">
                            <img src="images/conect-icon-skype.png" alt="" />
                        </a>
                        <a href="skype:+9999999999?skype" class="conect-icon">
                            <img src="images/conect-icon-telefone.png" alt="" />
                        </a>
                        <a href="mailto:mail@mail.ru" class="conect-icon">
                            <img src="images/conect-icon-mail.png" alt="" />
                        </a>
                    </div>

                    <div class="footer-text">
                        <span>©gambling.design</span>
                    </div>

                </div>
            </footer>
            <!-- FOOTER -->

        </div>

        <!-- SCRIPTS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.9/scrollreveal.min.js"></script>
        <script type="text/javascript" src="js/validate_script.js" ></script>
        <script type="text/javascript" src="js/main.js" ></script>
        <!-- /SCRIPTS -->
    </body>
</html>