<!-- HEADER -->
<header class="header">
    <div class="header-main">
        <div class="mbox">

            <div class="header-logo">
                <img src="images/header-logo.png" alt="" />
            </div>

            <div class="header-menu">
                <div class="header-menu-wrap">

                    <div class="header-menu-main">
                        <ul>
                            <li>
                                <a href="#">home</a>
                            </li>
                            <li>
                                <a href="#about-us">about us</a>
                            </li>
                            <li >
                                <a href="#clients">clients</a>
                            </li>
                            <li >
                                <a href="#slider">portofolio</a>
                            </li>
                            <li>
                                <a href="#contact-form">contacs</a>
                            </li>
                        </ul>
                    </div>

                    <div class="header-menu-conect conect-wrap">
                        <a href="tellto:+9999999999" class="conect-icon">
                            <img src="images/conect-icon-skype.png" alt="" />
                        </a>
                        <a href="skype:+9999999999?skype" class="conect-icon">
                            <img src="images/conect-icon-telefone.png" alt="" />
                        </a>
                        <a href="mailto:mail@mail.ru" class="conect-icon">
                            <img src="images/conect-icon-mail.png" alt="" />
                        </a>
                    </div>

                    <div class="header-leng-wrap">
                        <div class="header-leng-text">LANGUAGE</div>
                        <div class="header-leng-links">
                            <a href="index.html" class="header-leng-link">
                                <img src="images/leng-icon-rus-active.png" alt="" />
                                <img class="active-leng" src="images/leng-icon-rus-active.png" alt="" />
                            </a>
                            <a href="index_en.html" class="header-leng-link active">
                                <img src="images/leng-icon-eng-active.png" alt="" />
                                <img class="active-leng" src="images/leng-icon-eng-active.png" alt="" />
                            </a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="header-menu-sendwich">
                <div class="header-menu-sendwich-wrap">
                    <span></span>
                </div>
            </div>

        </div>
    </div>
</header>
<!-- /HEADER -->

