<!--
<script src="js/canvas/spin.js"></script>
<script src="js/canvas/web.js"></script>
<script src="js/canvas/identety.js"></script>
<script src="js/canvas/cards.js"></script>
<script src="js/canvas/clock.js"></script>
<script src="js/canvas/guaranteed.js"></script>

<script src="js/canvas/header_ru.js"></script>
<script src="js/canvas/header_en.js"></script>
-->

<div class="proposition-wrap">
    <div class="mbox">
        <div class="conteiner">
            <div class="title-proposition">МЫ ПРЕДЛАГАЕМ</div>
            <div class="under-block">
                <div class="convert-item">
                    <div class="item-canvas oneHeight">
                        <canvas id="spin" width="256" height="279" ></canvas>
                    </div>
                    <div class="undertext">HTML и FLASH БАННЕРЫ</div>
                </div>
                <div class="convert-item ">
                    <div class="item-canvas oneHeight">
                        <canvas id="web" width="254" height="270" ></canvas>
                    </div>
                    <div class="undertext">ВЕБ-САЙТЫ и LANDING-page</div>
                </div>
                <div class="convert-item ">
                    <div class="item-canvas oneHeight">
                        <canvas id="identety" width="245" height="262" ></canvas>
                    </div>
                    <div class="undertext">БРЕНДИНГ и АЙДЕНТИКА</div>
                </div>
            </div>
            <a href="" class="button-promote">
                <div class="button-text">СДЕЛАТЬ ЗАКАЗ</div>
            </a>
        </div>
    </div>
</div>


<canvas id="clock" width="318" height="345" ></canvas>
<canvas id="guaranteed" width="428" height="341" ></canvas>
<canvas id="cards" width="362" height="238"></canvas>

<canvas id="header_en" width="892" height="630"></canvas>
<canvas id="header_ru" width="892" height="630"></canvas>
