<div class="proposition-wrap">
    <div class="mbox">
        <div class="conteiner">
            <div class="title-proposition">МЫ ПРЕДЛАГАЕМ</div>
            <div class="under-block">
                <div class="convert-item">
                    <div class="item-canvas oneHeight">
                        <canvas id="spin" width="256" height="279" ></canvas>
                    </div>
                    <div class="undertext">HTML и FLASH БАННЕРЫ</div>
                </div>
                <div class="convert-item ">
                    <div class="item-canvas oneHeight">
                        <canvas id="web" width="254" height="270" ></canvas>
                    </div>
                    <div class="undertext">ВЕБ-САЙТЫ и LANDING-page</div>
                </div>
                <div class="convert-item ">
                    <div class="item-canvas oneHeight">
                        <canvas id="identety" width="245" height="262" ></canvas>
                    </div>
                    <div class="undertext">БРЕНДИНГ и АЙДЕНТИКА</div>
                </div>
            </div>
            <a href="" class="button-promote">
                <div class="button-text">СДЕЛАТЬ ЗАКАЗ</div>
            </a>
        </div>
    </div>
</div>