<div class="proposition-wrap">
    <div class="mbox">
        <div class="conteiner">
            <div class="title-proposition">we offer YOU</div>
            <div class="under-block">
                <div class="convert-item">
                    <div class="item-canvas oneHeight">
                        <canvas id="spin" width="256" height="279" ></canvas>
                    </div>
                    <div class="undertext">INTERACTIVE HTML & FLASH BANNER ADs</div>
                </div>
                <div class="convert-item ">
                    <div class="item-canvas oneHeight">
                        <canvas id="web" width="254" height="270" ></canvas>
                    </div>
                    <div class="undertext">high conversion WEB-SITES &  LAnding pages</div>
                </div>
                <div class="convert-item ">
                    <div class="item-canvas oneHeight">
                        <canvas id="identety" width="245" height="262" ></canvas>
                    </div>
                    <div class="undertext">BRAND IDENTITY</div>
                </div>
            </div>
            <a href="" class="button-promote">
                <div class="button-text">make an order</div>
            </a>
        </div>
    </div>
</div>