<!--
<script src="js/canvas/spin.js"></script>
<script src="js/canvas/web.js"></script>
<script src="js/canvas/identety.js"></script>
<script src="js/canvas/cards.js"></script>
<script src="js/canvas/clock.js"></script>
<script src="js/canvas/guaranteed.js"></script>

<script src="js/canvas/header_ru.js"></script>
<script src="js/canvas/header_en.js"></script>
-->

<canvas id="spin" width="256" height="279" ></canvas>
<canvas id="web" width="254" height="270" ></canvas>
<canvas id="identety" width="245" height="262" ></canvas>

<canvas id="clock" width="318" height="345" ></canvas>
<canvas id="guaranteed" width="428" height="341" ></canvas>
<canvas id="cards" width="362" height="238"></canvas>

<canvas id="header_en" width="892" height="630"></canvas>
<canvas id="header_ru" width="892" height="630"></canvas>
