<section  class="slider">
    <div class="slider-align">
        <div class="slider-wrapp mbox">

            <div id="slider" class="title scroll-anim">

                <h2>ПОРТФОЛИО</h2>
                <p>НАШИ ПОСЛЕДНИЕ РАБОТЫ</p>
            </div>
            <div class="troll-slider-align scroll-anim">
                <div class="troll-slider">
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/ru/20_let_ru/index.html">
                                <img src="images/item-slide1.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/9.jpg">
                                <img src="portfolio/brending/ru/9.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/10.jpg">
                                <img src="portfolio/brending/ru/10.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/8.jpg">
                                <img src="portfolio/brending/ru/8.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/7.jpg">
                                <img src="portfolio/brending/ru/7.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/6.jpg">
                                <img src="portfolio/brending/ru/6.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/5.jpg">
                                <img src="portfolio/brending/ru/5.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/4.jpg">
                                <img src="portfolio/brending/ru/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="quadred"></div>
    </div>
</section>
