<section  class="slider">
    <div class="slider-align">
        <div class="slider-wrapp mbox">

            <div id="slider" class="title scroll-anim">

                <h2>ПОРТФОЛИО</h2>
                <p>НАШИ ПОСЛЕДНИЕ РАБОТЫ</p>
            </div>
            <div class="troll-slider-align scroll-anim">
                <div class="troll-slider">
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/ru/20_let/index.html">
                                <img src="portfolio/banners/ru/20_let/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/ru/bbw/index.html">
                                <img src="portfolio/banners/ru/bbw/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/ru/casinox_bbw_bonus/index.html">
                                <img src="portfolio/banners/ru/casinox_bbw_bonus/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/ru/dracula/index.html">
                                <img src="portfolio/banners/ru/dracula/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/ru/gonzo/index.html">
                                <img src="portfolio/banners/ru/gonzo/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/ru/lady_sharm/index.html">
                                <img src="portfolio/banners/ru/lady_sharm/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/ru/pistoleras/index.html">
                                <img src="portfolio/banners/ru/pistoleras/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/ru/pyramid/index.html">
                                <img src="portfolio/banners/ru/pyramid/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>

                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/9.jpg">
                                <img src="portfolio/brending/ru/9.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/10.jpg">
                                <img src="portfolio/brending/ru/10.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/8.jpg">
                                <img src="portfolio/brending/ru/8.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/7.jpg">
                                <img src="portfolio/brending/ru/7.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/6.jpg">
                                <img src="portfolio/brending/ru/6.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/5.jpg">
                                <img src="portfolio/brending/ru/5.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/3.jpg">
                                <img src="portfolio/brending/ru/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/2.jpg">
                                <img src="portfolio/brending/ru/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/1.jpg">
                                <img src="portfolio/brending/ru/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/ru/4.jpg">
                                <img src="portfolio/brending/ru/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/9.jpg">
                                <img src="portfolio/landing/ru/9.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/10.jpg">
                                <img src="portfolio/landing/ru/10.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/8.jpg">
                                <img src="portfolio/landing/ru/8.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/7.jpg">
                                <img src="portfolio/landing/ru/7.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/6.jpg">
                                <img src="portfolio/landing/ru/6.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/5.jpg">
                                <img src="portfolio/landing/ru/5.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/3.jpg">
                                <img src="portfolio/landing/ru/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/2.jpg">
                                <img src="portfolio/landing/ru/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/1.jpg">
                                <img src="portfolio/landing/ru/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/4.jpg">
                                <img src="portfolio/landing/ru/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/11.jpg">
                                <img src="portfolio/landing/ru/11.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/12.jpg">
                                <img src="portfolio/landing/ru/12.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/13.jpg">
                                <img src="portfolio/landing/ru/13.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/14.jpg">
                                <img src="portfolio/landing/ru/14.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/ru/15.jpg">
                                <img src="portfolio/landing/ru/15.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="quadred"></div>
    </div>
</section>
