<div class="slider-wrapp">
    <div class="slider-align">
        <div class="troll-slider cfix">
            <div class="one-slide cfix">
                <div class="image"><img src="images/item-slide1.jpg" alt=""></div>
                <div class="text">
                    <h1>20 years online casino</h1>
                    <p>vulkan casino</p>
                    <ul>
                        <li>branding ad</li>
                        <li>banner ad</li>
                        <li>landing page</li>
                    </ul>
                </div>
            </div>
            <div class="one-slide">
                <div class="image"><img src="images/item-slide1.jpg" alt=""></div>
                <div class="text">
                    <h1>20 years online casino</h1>
                    <p>vulkan casino</p>
                    <ul>
                        <li>branding ad</li>
                        <li>banner ad</li>
                        <li>landing page</li>
                    </ul>
                </div>
            </div>
            <div class="one-slide">
                <div class="image"><img src="images/item-slide1.jpg" alt=""></div>
                <div class="text">
                    <h1>20 years online casino</h1>
                    <p>vulkan casino</p>
                    <ul>
                        <li>branding ad</li>
                        <li>banner ad</li>
                        <li>landing page</li>
                    </ul>
                </div>
            </div>
            <div class="one-slide cfix">
                <div class="image"><img src="images/item-slide1.jpg" alt=""></div>
                <div class="text">
                    <h1>20 years online casino</h1>
                    <p>vulkan casino</p>
                    <ul>
                        <li>branding ad</li>
                        <li>banner ad</li>
                        <li>landing page</li>
                    </ul>
                </div>
            </div>
            <div class="one-slide">
                <div class="image"><img src="images/item-slide1.jpg" alt=""></div>
                <div class="text">
                    <h1>20 years online casino</h1>
                    <p>vulkan casino</p>
                    <ul>
                        <li>branding ad</li>
                        <li>banner ad</li>
                        <li>landing page</li>
                    </ul>
                </div>
            </div>
            <div class="one-slide">
                <div class="image"><img src="images/item-slide1.jpg" alt=""></div>
                <div class="text">
                    <h1>20 years online casino</h1>
                    <p>vulkan casino</p>
                    <ul>
                        <li>branding ad</li>
                        <li>banner ad</li>
                        <li>landing page</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
