<section class="slider english">
    <div class="slider-align">
        <div class="slider-wrapp mbox">
            <div id="slider"  class="title">
                <h2>PORTFOLIO</h2>
                <p>Explore our latest works</p>
            </div>
            <div class="troll-slider-align scroll-anim">
                <div class="troll-slider">
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/en/20_let/index.html">
                                <img src="portfolio/banners/en/20_let/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/en/bbw/index.html">
                                <img src="portfolio/banners/en/bbw/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/en/casinox_bbw_bonus/index.html">
                                <img src="portfolio/banners/en/casinox_bbw_bonus/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/en/dracula/index.html">
                                <img src="portfolio/banners/en/dracula/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/en/gonzo/index.html">
                                <img src="portfolio/banners/en/gonzo/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/en/lady_sharm/index.html">
                                <img src="portfolio/banners/en/lady_sharm/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/en/pistoleras/index.html">
                                <img src="portfolio/banners/en/pistoleras/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various frame" data-fancybox-type="iframe" href="portfolio/banners/en/pyramid/index.html">
                                <img src="portfolio/banners/en/pyramid/thumbs.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>

                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/en/9.jpg">
                                <img src="portfolio/brending/en/9.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/en/10.jpg">
                                <img src="portfolio/brending/en/10.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/en/8.jpg">
                                <img src="portfolio/brending/en/8.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/en/7.jpg">
                                <img src="portfolio/brending/en/7.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/en/6.jpg">
                                <img src="portfolio/brending/en/6.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/en/5.jpg">
                                <img src="portfolio/brending/en/5.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/en/3.jpg">
                                <img src="portfolio/brending/en/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/en/2.jpg">
                                <img src="portfolio/brending/en/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/en/1.jpg">
                                <img src="portfolio/brending/en/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/brending/en/4.jpg">
                                <img src="portfolio/brending/en/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/9.jpg">
                                <img src="portfolio/landing/en/9.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/10.jpg">
                                <img src="portfolio/landing/en/10.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/8.jpg">
                                <img src="portfolio/landing/en/8.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/7.jpg">
                                <img src="portfolio/landing/en/7.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/6.jpg">
                                <img src="portfolio/landing/en/6.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/5.jpg">
                                <img src="portfolio/landing/en/5.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/3.jpg">
                                <img src="portfolio/landing/en/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/2.jpg">
                                <img src="portfolio/landing/en/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/1.jpg">
                                <img src="portfolio/landing/en/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                     <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/4.jpg">
                                <img src="portfolio/landing/en/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/11.jpg">
                                <img src="portfolio/landing/en/11.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/12.jpg">
                                <img src="portfolio/landing/en/12.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/13.jpg">
                                <img src="portfolio/landing/en/13.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/14.jpg">
                                <img src="portfolio/landing/en/14.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image">
                            <a class="various" href="portfolio/landing/en/15.jpg">
                                <img src="portfolio/landing/en/15.jpg" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="quadred"></div>
    </div>
</section>
