<section id="slider" class="slider english">
    <div class="slider-align">
        <div class="slider-wrapp mbox">
            <div class="title">
                <h2>PORTFOLIO</h2>
                <p>Explore our latest works</p>
            </div>
            <div class="troll-slider-align scroll-anim">
                <div class="troll-slider">
                    <div class="one-slide">
                        <div class="image"><img src="images/item-slide1.jpg" alt=""></div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image"><img src="images/action1.jpg" alt=""></div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image"><img src="images/action2.jpg" alt=""></div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image"><img src="images/item-slide1.jpg" alt=""></div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image"><img src="images/action1.jpg" alt=""></div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="image"><img src="images/action2.jpg" alt=""></div>
                        <div class="text">
                            <p>20 years online casino</p>
                            <p>vulkan casino</p>
                            <ul>
                                <li>branding ad</li>
                                <li>banner ad</li>
                                <li>landing page</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="quadred"></div>
    </div>
</section>
