<section class="steampank-lady">
    <div class="mbox">

        <svg width="0" height="0" class="svg-defs-for-steampunk">
            <defs>

                <clipPath id="cliping">
                    <text x="80" y="60">we bring the best</text>
                    <text x="20" y="150"><tspan class="bigger-text">gaming experience</tspan></text>
                    <text x="30" y="240">in gambling <tspan class="bigger-text">promotion</tspan></text>
                    <text x="275" y="320">in order to reach</text>
                    <text x="290" y="410"><tspan class="bigger-text">best results</tspan></text>
                </clipPath>

                <clipPath id="clipingMobile">
                    <text x="80" y="40">we bring the best</text>
                    <text x="20" y="110"><tspan class="bigger-text">gaming experience</tspan></text>
                    <text x="160" y="180">in gambling</text>
                    <text x="90" y="270"><tspan class="more-bigger-text">promotion</tspan></text>
                    <text x="110" y="330">in order to reach</text>
                    <text x="130" y="400"><tspan class="bigger-text">best results</tspan></text>
                </clipPath>

                <radialGradient id="gradient" cx="50%" cy="10%" r="50%" fx="50%" fy="0%">
                    <stop offset="0%" stop-color="rgba(224,166,75,1)">
                        <animate attributeName="stop-color" values="rgba(224,166,75,1);rgba(178,43,40,1);rgba(224,166,75,1);" dur="3s" repeatCount="indefinite" />
                    </stop>
                    <stop offset="100%" style="stop-color:rgb(178,43,40);" />
                </radialGradient>

                <radialGradient id="gradientMobile" cx="50%" cy="30%" r="50%" fx="60%" fy="0%">
                    <stop offset="0%" stop-color="rgba(224,166,75,1)">
                        <animate attributeName="stop-color" values="rgba(224,166,75,1);rgba(178,43,40,1);rgba(224,166,75,1);" dur="3s" repeatCount="indefinite" />
                    </stop>
                    <stop offset="100%" style="stop-color:rgb(178,43,40);" />
                </radialGradient>

            </defs>
        </svg>

        <div class="desktop-girl">
            <div class="steampank-lady-img scroll-anim">
                <img src="images/steampank-lady-img-svg.png" alt="" />
            </div>

            <div class="steampank-lady-text scroll-anim">
                <svg width="840" height="450" viewbox="0 0 840 450">

                    <rect width="840" height="450" clip-path="url(#cliping)"></rect>
                    <!--<g class="mask-for-cliping">
                        <text x="10" y="30">мы вносим лучший игровой опыт</text>
                        <text x="0" y="110"><tspan class="bigger-text">в п<tspan class="letter-shadow">р</tspan>о<tspan class="letter-shadow">д</tspan>ви<tspan class="letter-shadow">ж</tspan>ении</tspan></text>
                        <text x="150" y="200"><tspan class="bigger-text"><tspan class="letter-shadow">а</tspan>з<tspan>а</tspan>р<tspan class="letter-shadow">т</tspan>ных и<tspan class="letter-shadow">г</tspan>р</tspan></text>
                        <text x="385" y="240">для достижения</text>
                        <text x="280" y="290">лучших результатов</text>
                    </g>-->

                </svg>
            </div>
        </div>
        <div class="mobile-girl">
            <div class="steampank-lady-text">
                <svg width="600" height="420" viewbox="0 0 600 420">

                    <rect width="600" height="420" clip-path="url(#clipingMobile)"></rect>
                    <!--<g class="mask-for-cliping">
                        <text x="110" y="30">МЫ ВНОСИМ ЛУЧШИЙ</text>
                        <text x="165" y="70">ИГРОВОЙ ОПЫТ</text>
                        <text x="35" y="130"><tspan class="bigger-text">в п<tspan class="letter-shadow">р</tspan>о<tspan class="letter-shadow">д</tspan>вижении</tspan></text>
                        <text x="80" y="190"><tspan class="bigger-text"><tspan class="letter-shadow">а</tspan>з<tspan class="letter-shadow">а</tspan>р<tspan class="letter-shadow">т</tspan>ных и<tspan class="letter-shadow">г</tspan>р</tspan></text>
                        <text x="70" y="230">для достижения лучших</text>
                        <text x="190" y="270">результатов</text>
                    </g>-->

                </svg>
            </div>
        </div>

    </div>
</section>