<section class="steampank-lady">
    <div class="mbox">

        <svg class="patterns">
            <defs>
                <pattern id="light" patternUnits="userSpaceOnUse" width="300" height="300" viewBox="0 0 199 300">
                    <image xlink:href="http://img-fotki.yandex.ru/get/5607/5091629.6b/0_612e6_b9039c0d_M.jpg" width="199" height="300"></image>
                </pattern>
            </defs>
        </svg>

        <div class="steampank-lady-img">
            <img src="images/steampank-lady-img-svg.png" alt="" />
        </div>

        <div class="steampank-lady-text">
            <svg width="300" height="300">
                <text x="0" y="0">мы вносим лучший игровой опыт</text>
            </svg>
        </div>

    </div>
</section>