<section class="top-block">

    <div class="mbox">

        <div class="top-block-canvas hidden-xs">
            <canvas id="header_ru" width="892" height="630"></canvas>
        </div>

        <div class="wach-video-button hidden-xs">
            <a href="#">
                <span>СМОТРЕТЬ ВИДЕО</span>
            </a>
        </div>

        <div class="top-block-logo visible-xs">
            <img src="images/top-block-logo.png" alt="" />
        </div>
        <div class="top-block-text visible-xs">
            <img src="images/top-block-text.png" alt="" />
        </div>
        <div class="top-block-scroll-button visible-xs ">
            <a href="#">
                <span class="top-block-scroll-button-arrow top-block-scroll-button-arrow-top"></span>
                <span class="top-block-scroll-button-arrow top-block-scroll-button-arrow-bottom"></span>
            </a>
        </div>



    </div>

</section>