@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

    /* header */

        .header{
            .header-menu-main{
                li{margin-right: 27px;}
            }
        }

    /* /header */

}
@media screen and (max-width: 1024px){

    /* header */

        .header{
            .header-menu{display: none;float: none;position: absolute;top: 0;left: 0;right: 0;background-color: rgba(0, 0, 0, .9);padding: 30px 0 30px 0;}
            .header-menu-main{display: block;border-right: none;margin-bottom: 10px;padding-top:10px;margin-bottom: 20px;
                li{display: block;margin-bottom: 10px;text-align: center;font-size:50px;margin-right: 0;}
            }

            .header-menu-sendwich{display: block;}
            .header-menu-conect{display: block;position: relative;}
            .header-leng-wrap{display: block;text-align: center;}
        }

    /* /header */

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}