@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
    /*contact-form*/
    .contact-form{
        .contact-form-wrap{padding-top: 232px;padding-bottom: 81px;}
        .contact-form-image{display: none;}
        .contact-form-bottom{padding-top: 48px;}
    }

    /*clients*/
    .wrapper.eng .clients .clients-title{bottom: -27px;}


    .clients{min-height: 700px;margin-bottom: -164px;
        .clients-red{min-height: 376px;margin-bottom: -75px;
            &:after{height: 113%;background-image: url(../images/clients-top-mobile.png);background-position: 0px bottom;bottom: 0px;right: auto;left: 86px;}
        }
        .clients-grey{min-height: 368px;background: url('../images/clients-grey-mobile.jpg') 0px top no-repeat;margin-right: 0px;position: relative;
            &:after{content: '';position: absolute;height: 100%;width: 2px;background-color: #0B0B0B;right: auto;top: 0;left: -1px}
        }
        .clients-center{
            .clients-center-bottom{background: url('../images/clients-center-bottom-mobile.png') 0px bottom no-repeat;min-height: 83px;margin-right: 0px;}
        }
        .clients-title{font-size: 74px;bottom: -17px;
            &:after{content: '';position: absolute;width: 100%;top: 40px;left: 0;height: 2px;    background-color: rgba(22, 22, 22, 0.75);pointer-events:none;}
        }
        .clients-row-superwrap{padding: 55px 0px 0px;max-width: 753px;}
        .clients-row{padding-bottom: 33px;}
        .clients-item{
            img{max-width: 80%;}
        }
    }
}
@media screen and (max-width: 960px){
    /*clients*/
    .wrapper.eng .clients .clients-title{bottom: -24px;font-size: 64px;
        &:after{top: 46px;}
    }

    .clients{min-height: 650px;margin-bottom: -237px;padding-top: 32px;
        .clients-red{min-height: 320px;margin-bottom: -81px;
            &:after{height: 113%;background-image: url(../images/clients-top-mobile.png);background-position: 0px bottom;bottom: 3px;right: auto;left: 63px;background-size: contain;background-size: 90%;width: 100%;}
        }
        .clients-grey{min-height: 368px;background: url('../images/clients-grey-mobile.jpg') 0px top no-repeat;margin-right: 0px;position: relative;background-size: contain;
            &:after{content: '';position: absolute;height: 100%;width: 2px;background-color: #0B0B0B;right: auto;top: 0;left: -1px}
        }
        .clients-center{
            .clients-center-bottom{background: url('../images/clients-center-bottom-mobile.png') center bottom no-repeat;min-height: 83px;margin-right: 0px;background-size: contain;}
        }
        .clients-title{font-size: 74px;bottom: -21px;
        }
        .clients-row-superwrap{padding: 45px 0px 0px;max-width: 700px;}
        .clients-row{padding-bottom: 10px;}
        .clients-item{
            img{max-width: 70%;}
        }
    }
    .contact-form .contact-form-bottoms .contact-form-item-title{font-size: 17px;}
}
@media screen and (max-width: 767px){
    /*clients*/
    .clients {
        .clients-title {font-size: 58px;bottom: -27px;
            &:after{display: none;}
        }
        .clients-red:after{left: 51px;}
    }
    .contact-form .contact-form-bottoms .contact-form-item-title{font-size: 13px;}
}
@media screen and (max-width: 640px){
    /*contact-form*/
    .contact-form{/*background: url('../images/contact-form-mobile-bg.jpg') center center no-repeat;background-size: cover;*/margin-top: 0;padding-top: 90px;
        .contact-form-title .contact-form-title-top{color: white;}
        .contact-form-title{line-height: 62px;}
        .contact-form-wrap{padding-top: 0px;padding-bottom: 55px;}
        .contact-form-image{display: none;}
        .contact-form-bottom{padding: 101px 20px 0px;max-width: 430px;
            input,textarea{border-color: #fff;font-size: 24px;color: white;max-height: 100%;}
            .contact-form-item{margin-bottom: 61px;
                &:nth-child(3){margin-bottom: 109px;}
            }
        }
        .contact-form-bottom label{font-size: 26px;
            &.active{font-size: 19px;top: -18px;}
        }
        .contact-form-bottoms{display: none;}
        .contact-submit{max-width: 279px;font-size: 27px;padding: 24px 0px;background-color: #932023;}
    }

    /*clients*/
    .clients {margin-bottom: -442px;margin-top: -1px;padding-top: 40px;
        .clients-row-superwrap{padding: 75px 0px 0px;}
        .clients-center{display: none;}
        .clients-red{margin-bottom: 0px;min-height: 0;padding-top: 142px;}
        .clients-red:after{transform: rotate(4.4deg);bottom: auto;top: -35px;background-size: 84%;left: 81px;}
        .clients-title{position: relative;transform: translate(0%, 0) rotate(0deg);bottom: auto;z-index: 10;left: auto;text-align: center;line-height: 58px;margin-bottom: -30px;}
        .clients-grey{padding-bottom: 30px;background: url('../images/contact-form-mobile-bg.jpg') center center no-repeat;}
        .clients-item img {max-width: 93%;}
        .clients-row{padding-bottom: 35px;}
    }
    .wrapper.eng{
        .clients .clients-title{bottom: -21px;}
        .clients .clients-red:after{top: -41px;}
    }
}
@media screen and (max-width: 479px){
    /*contact-form*/
    .contact-form{
        .contact-form-wrap{padding-top: 109px;padding-bottom: 47px;}
        .contact-form-title{font-size: 40px;line-height: 50px;}
        .contact-form-bottom label{font-size: 23px;}
        .contact-form-bottom{padding: 90px 0px 0px;}
        .contact-submit{font-size: 24px;padding: 19px 0px;}
    }
    /*call-success*/
    .call-success{padding: 20px 10px;
        .call-title{font-size: 30px;margin-bottom: 20px;}
        .call-subtitle{font-size: 25px;margin-bottom: 10px;}
    }
}
@media screen and (max-width: 320px){

}