@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

    .proposition-wrap .conteiner{padding-top: 200px;
        .title-proposition { font-size: 72px;padding-bottom: 43px;}
        .under-block { text-align: center;
            .convert-item { display: inline-block;width: 23%;
                .undertext {color: white;}
                .item-canvas { margin-bottom: 65px;}
            }
            .convert-item:nth-child(2) { margin-right: 10.75%; margin-left: 10.75%;}
        }
        .button-promote .button-text {color: rgba(255, 255, 255, 1);}
    }

    .conteiner-about { padding-top: 150px;
        .about-wrap{background-size: 140%;
            .subtitle { padding-bottom: 45px;}
            .content-bock .item:nth-child(1) {width: 23%;}
            .content-bock .item:nth-child(2) {margin-left: 8.5%;}
            .content-bock .item .subtext img {max-width: 75%;}
        }
    }

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 840px){
    .proposition-wrap .conteiner .under-block .convert-item .undertext {font-size: 22px;}
}
@media screen and (max-width: 640px){

    .proposition-wrap { position: relative;overflow: hidden;
        &:after{content: ''; position: absolute; top: 0; left: 0; right: 0; width: 0;height: 0;border-style: solid;border-width: 51px 640px 0 0;border-color: #0e0e0e transparent transparent transparent; }
        .conteiner{ padding-top: 125px;padding-bottom: 88px;
            .title-proposition {padding-bottom: 86px;}
            .under-block {margin-bottom: 35px;
                .convert-item {padding-bottom: 100px;
                    &:last-child{padding-bottom: 50px;}
                }
                .convert-item .item-canvas {margin-bottom: 0;}
                .convert-item .undertext { font-size: 25px;}
                .convert-item:nth-child(1), .convert-item:nth-child(2),.convert-item:nth-child(3) {display: block; max-width: 270px; margin: 0 auto; width: 100%;}
            }
            .button-promote {max-width: 356px; border: 2px solid white; border-radius: 3px;background-color: rgba(158, 32, 33, 0);
                &:hover{ border: 2px solid rgba(0, 0, 0,0.8);
                    .button-text{color: rgba(0, 0, 0,0.8); }
                }
                &:active{position: relative;top: 2px;border: 2px solid rgba(0, 0, 0,0.8);
                     .button-text{color: rgba(0, 0, 0,0.8); }
                }
                .button-text {padding: 21px;}
            }
        }
    }

    .conteiner-about { padding-top: 134px;
        .seciton-convert{padding-bottom: 0;}
        .title-about {padding-bottom: 0px;}
        .about-wrap {background-image: none;
            .subtitle {padding-bottom: 46px;}
            .content-bock .item:nth-child(n) {display: block; width: 100%; margin: 0 auto; max-width: 508px; background-image: url(../images/small-bg.png); background-size: 100%;  background-repeat: no-repeat;    margin-bottom: 73px;
                .canvas-block{width: 62%; margin: 0 auto;}
            }
            .content-bock .item:nth-child(2) .canvas-block { width: 84%;}
            .content-bock .item:nth-child(3) .canvas-block { width: 74%;}
            .content-bock .item:nth-child(3){margin-bottom: 0 !important;padding-bottom: 73px;}
            .content-bock .item:nth-child(3) .subtext {margin-top: -110px;}
            .content-bock .item .subtext {margin-top: -16px;}
        }
    }

}
@media screen and (max-width: 479px){
    .proposition-wrap .conteiner .title-proposition {font-size: 64px;}
    .conteiner-about .about-wrap .content-bock .item:nth-child(3) .subtext { margin-top: -70px;}
}
@media screen and (max-width: 320px){

}

